@import 'variables';
@mixin header {
    font-size: $headerfs;
    color: black;
    letter-spacing: 2px;
}
@mixin headerh3 {
    font-size: $headerh3;
    text-align: center;
    color: lighten(black, 30%);
}